body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1f2937; 
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin: 10px;
}

.imgcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    border: 2px black;
    border-style: solid;
}

.logo {
    max-width: 80%;
    max-height: 80%;
    border-radius: 50%;
}

ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: lightgray;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.body1 {
    display: flex;
    justify-content: center;
    height: 400px;
    background-color: #1f2937;
}
.content1 {
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.donkey, .content1a{
    width: 400px;
    height: 60%;
}

.content1a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.opener {
    font-size: 40px;
    font-weight: 700;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.subopener {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.signup {
    width: 140px;
    background-color:gold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.kong {
    width: 100%;
    height: 100%;
    border-radius: 5%;
}